header
{
  background-color: #8f795c;
}

body
{
 background-color: #8f795c;

}

h1
{
  text-align: left;
  font-family:inherit, serif;
  font-style: italic;
  color: #faebd7;
}
h2 
{
  color: #faebd7;
  text-align:justify;
  font-family:'Times New Roman', Times, serif
}

h5
{
  font-size: medium;
  font-family: inherit;
  text-align: center;
}

p {
  font-family:inherit;
  font-style: normal;
  font-weight: lighter;
  font-size: larger;
  text-indent: 60px;
  text-align: center;
  color: #faebd7;
}

label 

{ 
  color: bisque;
  font-family: inherit;
  
}

input

{
  text-align: center;
}

button
{
  background-color: bisque;
  border-color: #8f795c;
}


